<style>
    /* Media query for medium screens */
    @media only screen and (min-width: 100px) and (max-width: 500px) {
        .listing-card {
            width: 90%;
            margin:auto;
        }
        .title {
            offset: 1;
            margin:auto;
            width: 90%; 
        }
        .review-card {
            offset: 1;
            margin:auto;
            width: 90%; /*equals to cols-10*/
        }
        .rating-card {
            width: 18rem;
        }
        #myMap {
            width:20rem;
            height:24rem;
            margin: auto;
        }
        .mapBottom {
            width:20rem;
        }
        .map-card{
            offset: 1;
            margin: auto;
            width: 90%; 
        }
    }
</style>
<% layout("/layouts/boilerplate")%>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN%>";
    const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
    const locationFind ="<%= listing.location %>";
    const locationTitle = "<%= listing.title %>";
</script>

<div class="row">
    <div class="title offset-3 col-8 mt-3">
        <h3><%=listing.title%></h3>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%=listing.image.url%>" alt="listing-image" class="card-img-top show-image">
        <div class="card-body">
            <p class="card-text">
                <i><%= listing.owner.username %></i> 
            </p>
            <p class="card-text">
                <%=listing.description%>
            </p>
            <p class="card-text">
                <b> &#8377; <%=listing.price.toLocaleString("en-In")%> </b><br><br>
            </p>
            <p class="card-text">
                <%=listing.location%>
            </p>
            <p class="card-text">
                <%=listing.country%>
            </p>
                
            </p>
        </div>
    </div>
        <!-- tolocalstring(en-in ) used to set comas b/w numbers like 12,000 en-in used for country 
        you can use for other countries also by changing parameters  -->
        <!-- curr user saved in middleware -->
    <% if(currUser && currUser._id.equals(listing.owner._id)) { %> 
        <div class="btns">
            <a class="btn-dark btn offset-3 edit-btn" href="/listings/<%=listing.id%>/edit">EDIT </a>
            
            <form method="POST" action="/listings/<%=listing.id%>?_method=DELETE">
                <button class="btn-dark btn offset-5" type="submit">DELETE</button>
            </form>
        </div>
    <% } %>


    <div class="review-card col-8 offset-3 mb-3">
         
        <% if(currUser) { %>   
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
                <!-- <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">
                        Rating
                    </label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                </div> -->

                <!-- copied from github starability to set stars -->
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">
                        Rating
                    </label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div> 
                <!-- copied from github starability to set stars -->


                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">
                        Comment
                    </label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="3" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please add some comments!</div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr />
        <% } %>
        <% if(listing.reviews.length > 0) { %>
            <div class="row">
                <p> <b>All Reviews</b> </p>
                <% for(review of listing.reviews) { %>
                    <div id="rating-card" class="card rating-card col-5 ms-3 mb-3">
                        <div class="card-body"> 
                            <h5 class="card-title">@<%= review.author.username %></h5>
                            
                            <p class="starability-result card-text" data-rating = "<%= review.rating %>"></p>
                            <p class="card-text"><%=review.comment%></p>

                        </div>
                        <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" class="mb-3">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>

    <div class="map-card col-8 offset-3 mb-3">
        <h3>Where you'll be</h3>
        <div id="myMap"></div>
        <p class="mapBottom"> <i><b><%=listing.location %> , <%=listing.country%></b></i></p>
    </div>

    <script src="/js/map.js"></script>

</div>
    
<script>
    const rating_card = document.getElementsById("rating-card");
</script>